## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

The five critical differences between SQL and NoSQL are:

1. SQL databases are relational, and NoSQL databases are non-relational.
2. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL=Data Definition Language
- The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects. The syntax of DDL commands is predefined for describing the data. The commands of Data Definition Language deal with how the data should exist in the database.

(1). CREATE Command
- CREATE is a DDL command used to create databases, tables, triggers and other database objects.

for example
- CREATE Database Database_Name; 
- CREATE TABLE table_name

(2). DROP Command
- DROP is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove the entire table, view, or index from the database using this DDL command.

for example
- DROP DATABASE Database_Name;  
- DROP TABLE Table_Name;  
- DROP INDEX Index_Name;

(3). ALTER Command
- ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.
- We can also add and drop constraints of the table using the ALTER command.

for example
- ALTER TABLE name_of_table ADD column_name column_definition; 
- ALTER TABLE name_of_table DROP Column_Name_1 , column_Name_2 , ….., column_Name_N; 
- ALTER TABLE table_name MODIFY ( column_name column_datatype(size));

(4).TRUNCATE Command
- TRUNCATE is another DDL command which deletes or removes all the records from the table.
- This command also removes the space allocated for storing the table records.

for example
- TRUNCATE TABLE Table_Name;

  SELECT * FROM Student;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML=Data Manipulation Language.

The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.

(1). INSERT DML Command
- INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.

for example
- INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;

(2).UPDATE DML Command
- UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.

for example
- UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;

(3).DELETE DML Command
- DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
- This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.

for example
- DELETE FROM Table_Name WHERE condition;

## Q4. What is DQL? Explain SELECT with an example.

DQL=Data Query Language

DQL is a portion of a SQL statement that allows you to get and organise data from a database.

Syntax
- SELECT expression FROM table_x WHERE code_conditions;

Example
- SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

## Q5. Explain Primary Key and Foreign Key.

Primary Key
- The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

Foreign Key
- The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM yourtable")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

cursor()
- The cursor() method is used to create a cursor object in MySQL. The cursor object is used to execute queries and traverse the result set of a SELECT query.

execute()
- The execute() method is used to execute an SQL query on the database using the cursor object. We can pass the SQL query as a string parameter to the execute() method

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause: This clause identifies the table or tables from which the data will be retrieved.

2. JOIN clause: If multiple tables are involved, the JOIN clause specifies how the tables are related to each other.

3. WHERE clause: This clause is used to filter the rows based on specified conditions.

4. GROUP BY clause: This clause is used to group the rows based on specified columns.

5. HAVING clause: This clause is used to filter the groups based on specified conditions.

6. SELECT clause: This clause specifies the columns to be included in the result set.

7. DISTINCT clause: This clause eliminates duplicate rows from the result set.

8. ORDER BY clause: This clause is used to sort the result set based on specified columns.

9. LIMIT clause: This clause limits the number of rows returned by the query.